<div class="listing">


        <div class = "listing__copy">
            {#-------#}
            {# Title #}
            {#-------#}
            {{ content.field_title }}

            {#------#}
            {# Body #}
            {#------#}
            {{ content.field_body }}

            {#----------------#}
            {# Formatted Info #}
            {#----------------#}
            {{ content.field_information }}

            {#------#}
            {# Link #}
            {#------#}
            {{ content.field_block_link }}
        </div>

        {#-------#}
        {# Image #}
        {#-------#}
        {{ content.field_image }}


</div>