 <div class="panel" data-background-src="{{ get_fields_styled_url(content.field_slide_image.0,'960w') }}">
    <div class="panel__vertical_align--outer">
        <div class="panel__gradient"></div>
        <div class="panel__vertical_align--inner">

                {{ content.field_icon }}

                {{ content.field_slide_title }}

                {{ content.field_slide_sub_title }}

                {{ content.field_slide }}

        </div><!--"END .panel__vertical_align--inner"-->
    </div><!--"END .panel__vertical_align--outer"-->
</div><!--"END .panel"-->